html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
  background-color: white;
}

#root {
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem; /*header main footer*/
  height: 100%;
}

.header {
  grid-area: header;
  background-color: white;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.brand a {
  color: #d0bdf4;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
}

.header-links a {
  color: #d0bdf4;
  text-decoration: none;
  padding: 1rem;
}

.header-links a:hover {
  color: #9932cc;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #9932cc;
}

a {
  text-decoration: none;
}
a:hover {
  color: #9932cc;
}

.content {
  background-image: url("../public/phone.jpg ");
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
