html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
  background-color: white;
}

#root {
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem; /*header main footer*/
  height: 100%;
}

.header {
  grid-area: header;
  background-color: #0fabbc;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 10px;
}

.brand a {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
}

.header-links a {
  color: white;
  text-decoration: none;
  padding: 1rem;
}

.header-links a:hover {
  color: #d0bdf4;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #9932cc;
}

a {
  text-decoration: none;
}
a:hover {
  color: #d0bdf4;
}

/*Sidebar*/

.brand button {
  font-size: 3rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.brand button:hover {
  color: #d0bdf4;
}

.sidebar {
  position: fixed;
  transition: all 0.5s;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: #f0f0f0;
  height: 100%;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-close-button {
  color: #9932cc;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 1.5rem;
  font-size: 2rem;
}

.sidebar h3 {
  color: #9932cc;
  margin-left: 0.5rem;
}

/* main */
/* search bar */
.search {
  display: flex;
  justify-content: center;
  height: 3rem;
  margin-bottom: 30px;
}

.search input {
  outline: none;
  width: 20%;
  color: #9932cc;
  background-color: white;
  border-radius: 25px;
  border-color: #d0bdf4;
}

.search button {
  outline: none;
  background-color: white;
  color: #9932cc;
  border-radius: 25px;
  border-color: #d0bdf4;
  margin-left: 10px;
  width: 3%;
  font-size: 2rem;
}

.search input:focus {
  border-color: #9932cc;
}

/* main */
/* content */
.content {
  width: 90%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: auto;
}

.content-item {
  text-align: center;
  border-style: solid;
  border-radius: 25px;
  height: 300px;
  width: 300px;
  border-color: #d0bdf4;
  color: #9932cc;
  background-color: white;
  box-shadow: 1px 1px #c574ee;
  margin-bottom: 30px;
}
