html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

#root {
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem; /*header main footer*/
  height: 100%;
}

.header {
  grid-area: header;
  background-color: #092532;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 10px;
  height: 50px;
}

.brand a {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.5s;
}

.header-links a {
  color: white;
  text-decoration: none;
  padding: 1rem;
  transition: font-size 0.5s, color 0.5s;
}

.header-links a:hover {
  color: #f9d56e;
  font-size: 2rem;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #092532;
  color: #f9d56e;
}

a {
  text-decoration: none;
}
a:hover {
  color: #f9d56e;
}

/*Sidebar*/

.brand button {
  outline: none;
  font-size: 3rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  transition: color 0.5s;
}

.brand button:hover {
  color: #f9d56e;
}

.sidebar {
  position: fixed;
  transition: all 0.5s;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: #f0f0f0;
  height: 100%;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-close-button {
  outline: none;
  color: #00bcd4;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 1.5rem;
  font-size: 2rem;
}

.sidebar h3 {
  color: #555555;
  margin-left: 0.5rem;
}

.sidebar li {
  color: #555555;
}

.sidebar a {
  color: #555555;
}

.sidebar a:hover {
  color: black;
}

/* main */
/* search bar */
.search {
  display: flex;
  margin-top: 5px;
  justify-content: center;
  height: 3rem;
  margin-bottom: 30px;
}
/* 
.search input {
  outline: none;
  border: solid 1px grey;
  width: 20%;
  background-color: white;
  border-radius: 25px;
}

.search button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #f9d56e;
  border-radius: 25px;
  margin-left: 10px;
  width: 3%;
  font-size: 2rem;
  transition: background-color 0.5s, transform 0.5s;
}

.search button:hover {
  transform: scale(1.1, 1.1);
  background-color: #ffbe31;
} */

/* login */

.main h1 {
  margin-top: 50px;
  text-align: center;
}

.input-log {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.input-log input {
  outline: none;
  border: none;
  width: 40%;
  height: 30px;
  background-color: white;
  border-radius: 25px;
}

.submit-log {
  display: flex;
  justify-content: center;
}

.submit-log button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #f9d56e;
  border-radius: 25px;
  margin-left: 10px;
  width: 10%;
  height: 30px;
  font-size: 1.5rem;
  transition: background-color 0.5s, transform 0.5s;
}

.submit-log button a {
  text-decoration: none;
  color: black;
}

.submit-log button:hover {
  transform: scale(1.1, 1.1);
  background-color: #ffbe31;
}

#frg-pass {
  margin-left: 60%;
  color: rgb(255, 51, 51);
  outline: none;
  border: none;
  cursor: pointer;
  transition: font-size 0.5s;
}

#frg-pass:hover {
  color: #ff0000;
  font-size: 1.5rem;
}

#frg-pass a {
  text-decoration: none;
  color: rgb(255, 51, 51);
}

@media only screen and (max-width: 800px) {
  .submit-log button {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #f9d56e;
    border-radius: 25px;
    margin-left: 10px;
    width: 30%;
    height: 30px;
    font-size: 1.5rem;
    transition: background-color 0.5s, transform 0.5s;
  }

  #frg-pass {
    margin-left: 70%;
    color: rgb(255, 51, 51);
    outline: none;
    border: none;
    cursor: pointer;
    transition: font-size 0.5s;
  }

  .input-log input {
    outline: none;
    border: none;
    width: 60%;
    height: 30px;
    background-color: white;
    border-radius: 25px;
  }
}

/* main */
/* content */

.content {
  width: 90%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: auto;
}

.content-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  border-style: solid;
  border-radius: 10px;
  height: 300px;
  width: 300px;
  color: #092532;
  border: none;
  background-color: white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 30px;
}

.content-item div:nth-child(1) {
  font-size: 25px;
}

.content-item button {
  outline: none;
  border: none;
  cursor: pointer;
  width: 25%;
  height: 25px;
  border-radius: 25px;
  margin-right: 210px;
  margin-top: 15px;
  background-color: #f9d56e;
  transition: background-color 0.5s, transform 0.5s;
}

.content-item button:hover {
  transform: scale(1.1, 1.1);
  background-color: #ffbe31;
}

.content-item img {
  width: 100%;
  height: 200px;
}

@media only screen and (max-width: 800px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* main */
/* view.php */

.content-view {
  display: grid;
  width: 90%;
  grid-template-columns: auto auto;
  margin: auto;
}

.content-view-item {
  border-style: solid;
  border-radius: 25px;
  text-align: center;
  height: 600px;
  width: 650px;
  color: #092532;
  background-color: white;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 30px;
}

.content-view-item img {
  margin-top: 4px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.next-btn {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 3rem;
  margin-top: 400px;
  color: #f9d56e;
  background-color: white;
}

.next-btn:hover {
  transform: scale(0.95, 0.95);
  color: #f9d56e;
}

.social-btn button {
  margin-top: 50px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #f9d56e;
  border-radius: 25px;
  margin-left: 10px;
  width: 10%;
  height: 30px;
  font-size: 1.5rem;
  transition: background-color 0.5s, transform 0.5s;
}

.social-btn button:hover {
  transform: scale(1.1, 1.1);
  background-color: #ffbe31;
}
@media only screen and (max-width: 800px) {
  .content-view {
    display: flex;
    flex-direction: column;
  }
  .content-view-item {
    border-style: solid;
    border-radius: 25px;
    text-align: center;
    height: 600px;
    width: 450px;
    color: #092532;
    background-color: white;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 30px;
  }

  .content-view-item img {
    width: 100%;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
  }

  .next-btn {
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 3rem;
    margin-top: 350px;
    color: #f9d56e;
    background-color: white;
  }
}

/* main */
/* profile */

.content-profile {
  display: grid;
  width: 90%;
  grid-template-columns: auto auto;
  margin: auto;
}

.content-profile-item {
  border-style: solid;
  border-radius: 25px;
  text-align: center;
  height: 600px;
  width: 650px;
  color: #092532;
  background-color: white;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 30px;
}

.content-profile-item img {
  margin-top: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  border-radius: 10px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.content-profile-item input {
  outline: none;
  width: 40%;
  height: 30px;
  background-color: white;
  border-radius: 25px;
  margin: 10px;
}

.content-profile-item button {
  outline: none;
  border: none;
  cursor: pointer;
  width: 25%;
  height: 25px;
  border-radius: 25px;
  background-color: #f9d56e;
  transition: background-color 0.5s, transform 0.5s;
}

.content-profile-item button:hover {
  transform: scale(1.1, 1.1);
  background-color: #ffbe31;
}

.profile-btn button {
  margin-top: 50px;
  outline: none;
  border: none;
  background-color: #f9d56e;
  border-radius: 25px;
  margin-left: 10px;
  width: 10%;
  height: 30px;
  font-size: 1.5rem;
  transition: background-color 0.5s, transform 0.5s;
}

.profile-btn button:hover {
  transform: scale(1.1, 1.1);
  background-color: #ffbe31;
}

.profile-user {
  font-size: 2rem;
  margin: 50px;
}

@media only screen and (max-width: 800px) {
  .content-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content-profile-item {
    border-style: solid;
    border-radius: 25px;
    text-align: center;
    height: 600px;
    width: 450px;
    color: #092532;
    background-color: white;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 30px;
  }
}

/* blog page */

.blog-content {
  display: grid;
  grid-template-columns: 0.9fr;
  grid-template-rows: 1fr;
  justify-content: center;
  overflow: auto;
}

.blog-item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 1rem;
}
.blog-item-title {
  margin: 1rem;
  color: #ffae00;
}

.blog-item-author {
  margin: 1rem;
}

.blog-item-desc {
  margin-left: 1rem;
}

/* post blog */
.pb-desc {
  border-radius: 5px;
  margin-top: 10px;
}

/* upload recepie */
.ur-main {
  display: grid;
  align-items: center;
  justify-content: center;
}

.ur-main-item {
  margin-top: 50px;
  display: grid;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-radius: 25px;
  text-align: center;
  height: 600px;
  width: 650px;
  color: #092532;
  background-color: white;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 30px;
}

.ur-main-btn {
  margin-top: 50px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #f9d56e;
  border-radius: 25px;
  margin-left: 10px;
  width: 30%;
  height: 30px;
  font-size: 1.5rem;
  transition: background-color 0.5s, transform 0.5s;
}

.ur-main-btn:hover {
  transform: scale(1.1, 1.1);
  background-color: #ffbe31;
}

.ur-main-text {
  margin-top: 20px;
}
